.div-form{
    display: flex;
    flex-direction: column;
}

label{
    margin: 8px 5px;
}

.input{
    padding: 8px;
    width: 15vw;
    margin-bottom: 12px;
    border: 1px solid rgba(0, 0, 0, 0.336);
    border-radius: 10px;
}

#transactions{
    margin-bottom: 12px;
    display: flex;
}

.div-span{
    display: flex;
    gap: 200px;
    align-items: center;
}

button{
    padding: 8px;
    border: 1px solid #36125b;
    border-radius: 5px;
    background-color: #663399;
    transition: 0.3s;
}

button:hover{
    color: white;
    background-color: #36125b;
}

.div-transition-table{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
.div-states-transition-inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rebeccapurple;
    margin-bottom: 20px;
}

.div-states-transition-inputs input{
    padding: 5px;
}

#entries-preview {
    display: flex;
    gap: 5px;
    margin-top: 10px;
    margin-bottom: 20px; 
    padding-bottom: 25px; 
    flex-wrap: wrap;
}


.tape-cell {
    position: relative; 
    background-color: #5b9bd5; 
    color: white;
    padding: 10px 15px;
    font-weight: bold;
    font-family: monospace;
    border: 1px solid #4178be;
    border-radius: 3px;
    min-width: 20px;
    text-align: center;
    transition: all 0.3s ease; 
}



.tape-cell.active-head {
    background-color: #2b5797; 
    transform: translateY(-5px); 
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}


.tape-cell.active-head::after {
    content: '';
    position: absolute;
    
   
    top: 100%; 
    left: 50%;
    transform: translateX(-50%);
    
    
    margin-top: 5px; 
    
  
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;   
    border-right: 10px solid transparent;  
    border-bottom: 15px solid #2b5797;     
}

.state-label{
}
