:root {
    --bg-preto: #121212;
    --bg-painel: #1e1e1e;
    --bg-card: #2d2d2d;
    --text-main: #e0e0e0;
    --text-muted: #a0a0a0;
    
    --accent-blue: #4a90e2;
    --accent-blue-hover: #357abd;
    --accent-orange: #ff9800; 
    --accent-yellow: #ffeb3b; 
    --border-color: #a36830;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: var(--bg-preto);
    color: var(--text-main);
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden; 
}

/* layout principal */

.main-container {
    display: flex;
    flex: 1; 
    height: 65vh; 
    border-bottom: 2px solid var(--border-color);
}

/* seção da esquerda */
.left-panel {
    flex: 0 0 35%; 
    background-color: var(--bg-painel);
    padding: 20px;
    overflow-y: auto;
}

/* seção da direita */
.right-panel {
    flex: 1;
    background-color: var(--bg-preto);
    padding: 20px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

/* seção do footer*/
.bottom-section {
    height: 35vh;
    background-color: var(--bg-card);
    padding: 15px 20px;
    border-top: 2px solid var(--border-color);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

/* inputs e form */

h2, h3 {
    margin-bottom: 15px;
    color: var(--accent-blue);
    font-weight: 600;
}

.form-group {
    margin-bottom: 15px;
}

.row-group {
    display: flex;
    gap: 10px;
}
.half { flex: 1; }

label {
    display: block;
    margin-bottom: 5px;
    font-size: 0.9em;
    color: var(--text-muted);
}

.input-dark {
    width: 100%;
    background-color: var(--bg-preto);
    border: 0.5px solid var(--border-color);
    color: var(--text-main);
    padding: 10px;
    border-radius: 4px;
    font-size: 1em;
    transition: border-color 1s;
}

.input-dark:focus {
    outline: none;
    border-color: var(--accent-blue);
}

.mini-preview {
    display: block;
    font-size: 0.8em;
    color: var(--accent-yellow);
    margin-top: 3px;
    min-height: 1.2em;
}

/* botões */

button {
    cursor: pointer;
    border: none;
    font-weight: 600;
    transition: all 0.2s;
    border-radius: 4px;
}

.btn-primary {
    background-color: var(--accent-blue);
    color: white;
    padding: 12px;
    font-size: 1em;
    border: 1px solid rgba(255,255,255,0.1);
}
.btn-primary:hover {
     background-color: var(--accent-blue-hover); 
}
.full-width { 
    width: 100%; 
}

.btn-secondary {
    background-color: transparent;
    border: 1px solid var(--accent-blue);
    color: var(--accent-blue);
    padding: 8px 15px;
}
.btn-secondary:hover {
     background-color: rgba(74, 144, 226, 0.1); 
}

.btn-accent {
    background-color: var(--accent-yellow);
    color: #000;
    padding: 10px 20px;
    width: 100%;
    margin-top: 10px;
}
.btn-accent:hover {
     background-color: #fdd835; 
}
.btn-accent:disabled {
     background-color: #555; color: #888; cursor: not-allowed; 
}

/* seção direita visualização */

.tape-container-wrapper {
    margin-bottom: 20px;
    background: var(--bg-painel);
    padding: 10px;
    border-radius: 6px;
    border: 1px solid var(--border-color);
}

#tape-visual-container { 
    display: flex;
    gap: 5px;
    margin-top: 5px;
    padding-bottom: 20px; 
    overflow-x: auto;
}

/* células da fita */
.tape-cell {
    position: relative;
    background-color: #2c3e50;
    color: white;
    padding: 8px 14px;
    border: 1px solid #34495e;
    border-radius: 3px;
    font-family: monospace;
    min-width: 30px;
    text-align: center;
    transition: all 0.3s;
}

/* flecha da fita */
.tape-cell.active-head {
    background-color: var(--accent-blue);
    border-color: var(--accent-yellow);
    color: #fff;
    transform: translateY(-3px);
    box-shadow: 0 0 10px rgba(74, 144, 226, 0.3);
}

.tape-cell.active-head::after {
    content: '';
    position: absolute;
    top: 100%; left: 50%;
    transform: translateX(-50%);
    margin-top: 5px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 12px solid var(--accent-yellow); 
}

/* grafo e pilha */
.graph-stack-wrapper {
    display: flex;
    flex: 1;
    gap: 20px;
    min-height: 0; 
}

.graph-area {
    flex: 1;
    background: #fff;
    background: var(--bg-painel); 
    border-radius: 6px;
    border: 1px solid var(--border-color);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}


.mermaid svg {
    max-width: 100%;
    height: auto;
}

/* pilha e next step */
.controls-area {
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.stack-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#stack-visual-container {
    width: 80px;
    flex: 1;
    background-color: rgba(255,255,255,0.05);
    border-left: 3px solid var(--border-color);
    border-right: 3px solid var(--border-color);
    border-bottom: 3px solid var(--border-color);
    display: flex;
    flex-direction: column-reverse; 
    padding: 5px;
    overflow-y: auto;
    border-radius: 0 0 4px 4px;
}

.stack-block {
    width: 100%;
    height: 28px;
    background-color: var(--accent-orange);
    color: #121212;
    border: 1px solid #e65100;
    margin-bottom: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 0.9em;
    border-radius: 2px;
    animation: dropIn 0.2s ease-out;
}

.stack-text-value {
    font-size: 0.8em;
    color: var(--text-muted);
    margin-top: 5px;
}

.info-box {
    background: var(--bg-card);
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 5px;
    border: 1px solid var(--border-color);
}

.highlight-text { color: var(--accent-yellow); font-size: 1.2em; }
.message-box { min-height: 60px; font-size: 0.9em; font-style: italic; }

/* transições no footer */

.bottom-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.transitions-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

/* card ta transição */
.transition-row {
    background-color: var(--bg-painel);
    border: 1px solid var(--border-color);
    padding: 10px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    width: auto;
    min-width: 250px;
    position: relative;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.div-transition-table {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 8px;
}

.div-states-transition-inputs {
    display: flex;
    flex-direction: column;
}

.div-states-transition-inputs label {
    font-size: 0.75em;
    margin-bottom: 2px;
    color: var(--accent-blue);
}

.transition-input {
    background: var(--bg-preto);
    border: 1px solid var(--border-color);
    color: white;
    padding: 5px;
    border-radius: 3px;
    width: 100%;
}

.btn-remove-transition {
    position: absolute;
    top: 5px;
    right: 5px;
    background: transparent;
    color: #ff5252;
    font-size: 0.8em;
    padding: 2px 6px;
    border: 1px solid transparent;
}
.btn-remove-transition:hover {
    background: rgba(255, 82, 82, 0.1);
    border-color: #ff5252;
}

@keyframes dropIn {
    from { opacity: 0; transform: translateY(-10px); }
    to { opacity: 1; transform: translateY(0); }
}